
*{
  margin: 0;
  padding: 0;
}

.webgl{
  position: absolute;
  top : 0;
  left : 0;
  z-index: 1;
}
#mobile-ui{
  position: absolute;
  top: 75%;
  left: 0%;
  transform: translate(-25%);
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons1{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#buttons2{
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
}